html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Segoe UI" Arial;
    vertical-align: baseline;
}

#header {
    background-color: #2693FF;
    color: white;
}

    #header h2 {
        margin-left: 4px;
    }

    #header ul {
        position: absolute;
        top: 7px;
        right: 0px;
    }

        #header ul li {
            float: right;
            list-style: none;
            padding-left: 16px;
            padding-right: 16px;
            font-size: large;
        }

            #header ul li a {
                color: white;
                padding-top: 7px;
                padding-bottom: 8px;
                padding-left:16px;
                padding-right:16px;
                text-decoration: none;
            }

                #header ul li a:hover {
                    color: #2693FF;
                    text-decoration: none;
                    background-color: white;
                }

#content {
    margin: 20px auto;
    width: 80%;
}

    #content div {
        background-color: #ECECFB;
        color: #757584;
    }

        #content div p {
            padding: 8px 16px 8px 16px;
            font-size: larger;
        }

    #content h1, h2, h3, h4, h5 {
        padding: 4px 8px;
        background-color: #2693FF;
        color: white;
    }
