@{
    ViewBag.Title = "Luncheon";
}
<h3>welcome to luncheon</h3>
<div>
    <p>Luncheon is a platform to help you coordinate your lunches with your coworkers easier and faster than ever before. Login or create an account now</p>
</div>
